.main_div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#input_field {
  padding: 5px;
  border-radius: 5px;
}

#btn {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.ul_element {
  display: flex;
  align-items: center;
}

.ul_element li{
  list-style: none;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}
#section{
  background: rgb(226, 101, 101);
  color: white;
  width: 60%;
  margin:0 auto;
  padding: 10px;
  border-radius: 5px;
}