body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  border: 2px solid black;
  padding: 2px 15px;
  border-radius: 10px;
  width: 400px;
}

.display {
  border: 1px solid grey;
  padding: 0px;
  border-radius: 10px;
}

.buttons_wrap{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
}
#button{
  border-radius: 5px;
  color: white;
  background-color: black;
}